<launch>
				<!--  ************** Odometry ***************  -->

	<node pkg="tf" type="static_transform_publisher" name="base_f_to_laser" args="0.0 0.0 0.25 0.0 0.0 0.0 /base_link /laser 30" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_f_to_l" 
    args="0.0 0.0 0.0 3.14159 0.0 0.0 /base_footprint /base_link 40" /> -->
  <!-- <node name="lidar_port"  pkg="xv_11_laser_driver"  type="neato_laser_publisher" respawn="false" output="log">
    <param name="port"         type="string" value="/dev/ttyS0"/>  
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="laser"/>
     <param name="rate"     type="int" value="100"/>
  </node> -->
  <rosparam command="load" file="$(find nox)/cfg/ekf_params.yaml" />
  <node name="pubVel" pkg="nox" type="cmd_vel_fake.py"/>
  <node name="fakeOdom" pkg="nox" type="fake_odom.py"/>
   <node name="imu" pkg="imu" type="imu.py"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">


  </node>
   <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node> -->

	<!-- <node name="pubEncoder" pkg="nox" type="pubVelEncoderDiff.py" output="screen"/> -->

				<!--  ************** Sensors ***************  -->

	 <!-- <include file="/home/gps_robot/robot_ws/cleaning_robot/pi_ws/src/ros-imu-bno055/launch/imu.launch"/> -->
	<!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find nox_description)/urdf.rviz" required="true" / -->
</launch>